/* PAGE CATEGORY */
.categoryContainer{
  height: 100vh;
}

.questionContainer {
  background-color: #E4D3CC;
  display: flex;
  flex-direction: column;
  height: 55%;
  justify-content: center;
  text-align: left;
}

.questionContent {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.categoryTitle {
  text-transform: uppercase;
  margin-bottom: 50px;
}

.questionTitle {
  color: #707070;
  font-size: 20px;
  margin: 0;
}

.questionNumbers {
  color: #341D9D;
  font-size: 30px;
  margin: 0;
}

.answerInput {
  margin-top: -34px;
}

input {
  color: #341D9D;
  border: 3px solid #341D9D;
  margin-right: 30px;
  width: 350px;
}

input, .answerSubmit, .homeButton {
  font-size: 20px;
  border-radius: 25px;
  height: 67px;
  outline: none;
  padding: 0 10px;
}

.answerSubmit, .homeButton {
  background-color: #341D9D;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  width: 180px;
}

.homeButton {
  margin-left: 30px;
}

.liveValue {
  color: #341D9D;
  font-size: 33px;
}

.scoreValue {
  color: #341D9D;
  font-size: 33px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #341D9D;
  text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #341D9D;
  text-align: center;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #341D9D;
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  color: #341D9D;
  text-align: center;
}

/* Game Over Section and Congratulation Section */

.gameOverSection, .congratulationSection {
  background-color: #E4D3CC;
  height: 100vh;
}

.pointsContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 100px;
  width: 80%;
}

.lives {
  color: #341D9D;
  font-size: 33px;
}

.score {
  color: #341D9D;
  font-size: 33px;
}

.looserMessage, .winnerMessage {
  color: #341D9D;
  font-size: 27px;
  font-weight: bold;
}

.nextCategorieButton {
  background-color: #341D9D;
  border-radius: 27px;
  float: right;
  height: 7vh;
  margin-right: 10%;
  margin-top: 21vh;
  width: 224px;
 }
 
 a {
   color: white;
   font-size: 20px;
   font-weight: bold;
 }

/* Game Over Section*/

.messageContainer {
  display: flex;
  margin: 0 auto;
  margin-top: 20vh;
  width: 21%;
}

.messageContent {
  color: #626060;
  font-family: 'BigCaslon-Medium';
  font-size: 41px;
  padding-left: 10px;
  padding-right: 10px;
}

.mark {
  color: red;
  font-size: 20px;
  padding-top: 54px;
}

.looserMessage::after {
  content: "\01F44E \01F629 ";
}

/* Congratulation Section */

.winnerMessageContainer {
  display: flex;
  font-family: 'BigCaslon-Medium';
  margin: 0 auto;
  margin-top: 20vh;
  width: 24%;
}

.winnerMessageContent {
  color: #626060;
  font-size: 41px;
  padding-left: 10px;
  padding-right: 10px;
}

.winnerMessage::after {
  content: "\01F60E \01F44F ";
}

.winnerMessageContent::before {
  content: "\01F389 ";
}

.winnerMessageContent::after {
  content: "\01F389 ";
}

/* FIN PAGE CATEGORY */
