
/* HOMEPAGE */

.header-content{
  align-items: center;
  display: flex;
  height: 13%;
  justify-content: center;
}

.container-content{
  height: 100vh;
}

.container{
  align-items: center;
  background-color: #E4D3CC;
  display: flex;
  flex-direction: column;
  height: 87%;
  justify-content: center;
  max-width: 100%;
}

.container-categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  
}
.categories{
  background-color: #341D9D;
  border-radius: 20px;
  color: white;
  display: inline-block;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 29px 0;
  text-decoration: none;
  text-transform: lowercase;
  width: 26%;
}

.categories::first-letter{
  text-transform: uppercase;
}

h2 {
  color: #707070;
  margin-bottom: 75px;
}

/* FIN HOMEPAGE */
